<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!--上线之前要清除不使用缓存的设置-->
    <!-- Bootstrap -->
    <meta http-equiv="cache-control" content="private">

    {% block staticfiles %}

    {% endblock %}
</head>
<body style="overflow-x: hidden">
<datalist id="session_inspector">
    <data value="{{ em_number }}"></data>
    <data value="{{ employeename }}"></data>
</datalist>
<div class="container" style="width:100%;">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-static-top navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    {% load staticfiles %}
                    <a class="navbar-brand" href="#"><span><img style="height: 20px"
                                                                src='{% static "img/logo+msz.jpg" %}'></span></a>
                </div>
                <div class="collapse navbar-collapse" id="nav">
                    <ul class="nav navbar-nav" id="nav_pri">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="">成品一检<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/url_dataentry/">疵点录入</a>
                                </li>
                                <li>
                                    <a href="/number_off/">报数录入</a>
                                </li>
                                <li>
                                    <a href="/measure_force/">部位测量</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="/choose/">查看汇总</a>
                                </li>
                                <li>
                                    <a href="/choose_check/">报表审批</a>
                                </li>
                                <li>
                                    <a href="/measure_check/">部位测量审批</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="">成品二检<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/recheck/">抽验录入</a>
                                </li>
                                <li>
                                    <a href="/measure_force_recheck">部位测量</a>
                                </li>
                                <li class="divider">

                                </li>
                                <li>
                                    <a href="/choose_recheck/">查看汇总</a>
                                </li>
                                <li>
                                    <a href="/choose_check_recheck/">报表审批</a>
                                </li>
                                <li>
                                    <a href="/measure_check/">部位测量审批</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                        <li><a href="/admini/">权限管理</a></li>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">数据统计<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <!--<li>
                                    <a href="/pie_chart/">饼状图</a>
                                </li>
                                -->
                                <li>
                                    <a href="/line_chart/">折线图(疵点数、返修率)</a>
                                </li>
                                <li>
                                    <a href="/bar_question_chart/">疵点统计柱状堆积图</a>
                                </li>
                                <li>
                                    <a href="/bar_measure_chart/">部位测量柱状堆积图</a>
                                </li>
                                <li>
                                    <a href="/pie_chart/">疵点比例饼状图</a>
                                </li>

                                <li class="divider">
                                </li>
                                <li>
                                    <a href="/form0/">历史记录查询</a>
                                </li>
                                <li>
                                    <a href="/form1/">检验员返修活汇总</a>
                                </li>
                                <li>
                                    <a href="/form2/">检验员返修率汇总</a>
                                </li>
                                <li>
                                    <a href="/form3/">阶段致命不良汇总</a>
                                </li>
                                <li>
                                    <a href="/form4/">阶段返修记录表</a>
                                </li>
                                <li>
                                    <a href="/form5/">捋肩带记录查询</a>
                                </li>
                                <li>
                                    <a href="/form6/">相关岗位品质奖罚汇总</a>
                                </li>
                                <li>
                                    <a href="/form7/">抽验工时工价汇总表</a>
                                </li>
                                <li>
                                    <a href="/form8/">一检产量汇总</a>
                                </li>
                                <li>
                                    <a href="/form9/">返修活检验记录汇总</a>
                                </li>
                                <li>
                                    <a href="/form10/">抽验员平均效率汇总</a>
                                </li>
                                <li>
                                    <a href="/form11/">二检重大不良汇总</a>
                                </li>
                                <li>
                                    <a href="/form12/">一检批次返修率汇总</a>
                                </li>
                                <li>
                                    <a href="/form13/">工艺测量汇总</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="">工艺测量<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/style_measure/">部位测量</a>
                                </li>
                                <li>
                                    <a href="/partition_set/">常用部位编辑</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">姓名：{{ employeename }}
                                工号: {{ em_number }}
                                <strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/myinfo/">用户信息</a>
                                </li>
                                <li>
                                    <a href="/history_table/">历史记录单查询</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="/logout/">注销</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <input id='scan_hide_input' style='display:none'/>
    <script>
        (function () {
            //alert('run');
            var li = document.getElementById('nav_pri').getElementsByTagName('li');
            var a = document.getElementById('nav_pri').getElementsByTagName('a');
            for (var i = 0; i < li.length; i++) {
                if (li[i].getAttribute('class') != 'divider') {
                    li[i].style.display = 'none';
                }
            }
            var re = new XMLHttpRequest();
            re.open('GET', '/base/', false);
            re.send();
            var list0 = eval('(' + re.responseText + ')');
            var list = [];
            for (var i=0;i<list0.length;i++){
                list = list.concat(list0[i].split('&'));
            }
            //console.log(list);
            for (var i = 0; i < list.length; i++) {
                //console.log(list[i]);
                for (var j = 0; j < a.length; j++) {
                    if (a[j].hasAttribute("href")) {
                        if (a[j].getAttribute('class') != 'dropdown-toggle') {
                            var urls = a[j].href.split('/');
                            var temp = '';
                            for (var k = urls.length - 1; k > -1; k--) {
                                if (urls[k].length >= 3) {
                                    temp = urls[k] + '/';
                                    break;
                                }
                            }
                            //console.log(a[j]);
                            //console.log(list[i] + '==' + temp + ' is ');
                            //console.log(list[i] === temp);
                            if (list[i] === temp) {
                                //alert(temp);
                                //console.log(list[i]);
                                //console.log(a[j]);
                                a[j].parentNode.style.display = 'block';
                                a[j].parentNode.parentNode.parentNode.style.display = 'block';
                            }

                        }
                    }
                }
            }
        }());
    </script>
    {% block other %}
    {% endblock %}