{% extends 'base.html' %}
{% block title %}尺寸测量录入{% endblock %}

{% block staticfiles %}
{% load staticfiles %}
<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
<link href='{% static "css/style.css" %}' rel="stylesheet">
<link href='{% static "css/bootstrap-datetimepicker.min.css" %}' rel="stylesheet">
<link rel="stylesheet" type="text/css" href='{% static "css/jquery.dataTables.min.css" %}'/>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
<script type="text/javascript" src='{% static "js/jquery.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>
<style>
    .number_input {
        border: none;
        width: 100px;
    }
</style>
<script type="text/javascript">
    window.onload = function () {
        try{
            var deptno = window.location.search.split('?')[1].split('&')[0].split('=')[1];
            $('#dept option').each(function(){
                this.selected = false;
                if (this.value == deptno){
                    this.selected = true;
                }
            });
        }catch(e){

        }
        document.getElementsByTagName('body')[0].style.overflow = 'auto';
        document.getElementsByTagName('body')[0].style.height = '101%';
        $('table tfoot').each(function () {
            var tr = document.createElement('tr');
            var targets = this.parentNode.getElementsByTagName('tr')[2].getElementsByTagName('td');
            tr.appendChild(document.createElement('td'));
            for (var i = 1; i < targets.length; i++) {
                console.log(parseInt(targets[i].innerHTML));
                if (parseInt(targets[i].innerHTML) == 0) {
                    var td = document.createElement('td');
                    td.setAttribute('class', 'changeable');
                    td.setAttribute('colspan', 2);
                    tr.appendChild(td);
                } else {
                    var td0 = document.createElement('td');
                    td0.setAttribute('class', 'changeable');
                    tr.appendChild(td0);
                    var td1 = document.createElement('td');
                    td1.setAttribute('class', 'changeable');
                    tr.appendChild(td1);
                }
                
            }
            this.appendChild(tr);
        });

        $('td.changeable').each(function () {
            var input = document.createElement('input');
            input.setAttribute('class', 'number_input');
            this.appendChild(input);
        });
        var infos = document.getElementById('info_list').getElementsByTagName('data');
        $('a.tab_explorer').each(function (e, i) {
            var count = 0;
            var table = document.getElementsByTagName('table')[e];
            console.log(table);
            for (var i=4;i<=table.getElementsByTagName('tr').length-1;i++){
                count += 1;
            }
            this.innerHTML = infos[e].getAttribute('model') + '|' + infos[e].getAttribute('size') +' <span class="badge pull-right">'+count+'</span>';
        });
        $('table').each(function (e, i) {
            //console.log()
            this.setAttribute('model', infos[e].getAttribute('model'));
            this.setAttribute('size', infos[e].getAttribute('size'));
            this.setAttribute('serialno', infos[e].getAttribute('serialno'));
        });
        var employee_list = document.getElementById('explorer').getElementsByTagName('a');
        $('#content button').each(function(i){
            this.setAttribute('employeeno',employee_list[i].getAttribute('value'));
            if (employee_list[i].getAttribute('state') == '1'){
                this.innerHTML = '已经通过';
                this.disabled = true;
            }
            
        });
        flush_index();
        bind_changeable();
    };
    target = '';
    function onclickpano(n) {
        target.value = target.value + $.trim(n.innerHTML);
        target.focus();
    }
    function onclickpadel(n) {
        target.value = target.value.slice(0, -1);
        target.focus();
    }
    function onclickfin() {
        $('input.popover_is_shown').click();
    }
    function bind_changeable() {
        var key_pass = '<button type = "button" class="btn btn-default btn_input" style="margin-right: 10px;margin-bottom: 5px;width: 40px;" onclick = "return onclickpano(this)">1</button>';
        key_pass += '<button type = "button" class="btn btn-default btn_input" style="margin-right: 10px;margin-bottom: 5px;width: 40px;" onclick = "return onclickpano(this)">2</button>';
        key_pass += '<button type = "button" class="btn btn-default btn_input" style="margin-right: 10px;margin-bottom: 5px;width: 40px;" onclick = "return onclickpano(this)">3</button>';
        key_pass += '<br/>';
        key_pass += '<button type = "button" class="btn btn-default btn_input" style="margin-right: 10px;margin-bottom: 5px;width: 40px;" onclick = "return onclickpano(this)">4</button>';
        key_pass += '<button type = "button" class="btn btn-default btn_input" style="margin-right: 10px;margin-bottom: 5px;width: 40px;" onclick = "return onclickpano(this)">5</button>';
        key_pass += '<button type = "button" class="btn btn-default btn_input" style="margin-right: 10px;margin-bottom: 5px;width: 40px;" onclick = "return onclickpano(this)">6</button>';
        key_pass += '<br/>';
        key_pass += '<button type = "button" class="btn btn-default btn_input" style="margin-right: 10px;margin-bottom: 5px;width: 40px;" onclick = "return onclickpano(this)">7</button>';
        key_pass += '<button type = "button" class="btn btn-default btn_input" style="margin-right: 10px;margin-bottom: 5px;width: 40px;" onclick = "return onclickpano(this)">8</button>';
        key_pass += '<button type = "button" class="btn btn-default btn_input" style="margin-right: 10px;margin-bottom: 5px;width: 40px;" onclick = "return onclickpano(this)">9</button>';
        key_pass += '<br/>';
        key_pass += '<button type = "button" class="btn btn-default btn_input" style="margin-right: 10px;margin-bottom: 5px;width: 40px;" onclick = "return onclickpano(this)">0</button>';
        key_pass += '<button type = "button" class="btn btn-default btn_input" style="margin-right: 10px;margin-bottom: 5px;width: 40px;" onclick = "return onclickpano(this)">.</button>';
        key_pass += '<button type = "button" class="btn btn-default btn_input" style="margin-right: 10px;margin-bottom: 5px;height:34px;" onclick = "return onclickpadel()"><span class="glyphicon glyphicon-arrow-left"></span></button><BR/>';
        key_pass += '<button type = "button" class="btn btn-default btn_input" style="margin-right: 10px;margin-bottom: 5px;width:140px;" onclick="return onclickfin()"><span class="glyphicon glyphicon-ok"></span></button>';
        $('input.number_input').each(function(){
            $(this).popover('destroy');
        });

        $('input.number_input').popover({
            trigger: 'click',
            content: key_pass,
            html: true,
            placement: 'auto'
        }).on('show.bs.popover', function (e) {
            $('input.popover_is_shown').click();
            $(e.target).addClass('popover_is_shown');
            target = e.target;
            $(target).parents('table').each(function () {
                $(this).addClass('to_sub');
            });
        }).on('hide.bs.popover',function(e){
            $(e.target).removeClass('popover_is_shown');
        });
    }
    function flush_index() {
        $('table').each(function () {
            var tb = this.getElementsByTagName('tbody')[0];
            console.log(tb);
            var trs = this.getElementsByTagName('tr');
            for (var i = 4; i < trs.length; i++) {
                console.log(i);
                trs[i].getElementsByTagName('td')[0].innerHTML = i - 3;
                if (i != trs.length - 1) {

                    var a = document.createElement('a');
                    a.innerHTML = '删除';
                    a.style.cursor = 'pointer';
                    a.onclick = function () {
                        $('input.popover_is_shown').click();
                        $(this).parents('table').each(function(){
                            $(this).addClass('to_sub');
                        });
                        this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);
                        flush_index();
                    };
                    trs[i].getElementsByTagName('td')[0].appendChild(a);
                } else {
                    //trs[i].getElementsByTagName('td')[0].innerHTML = '';
                    //var a = document.createElement('a');
                    //a.innerHTML = '添加';
                    //a.style.cursor = 'pointer';
                    //a.onclick = function () {
                    //    $('input.popover_is_shown').click();
                    //    var node = this.parentNode.parentNode.cloneNode(1);
                    //    //this.parentNode.parentNode.
                    //    tb.appendChild(node);
                    //    flush_index();
                    //    bind_changeable();
                    //};
                    //trs[i].getElementsByTagName('td')[0].appendChild(a);
                }
            }
        });
    }
    function submit() {
        var res = [];
        $('table.to_sub').each(function () {
            var partition_map = [];
            var trs = this.getElementsByTagName('tr');
            for (var i = 1; i < trs[0].getElementsByTagName('td').length; i++) {
                partition_map.push({
                    name: trs[0].getElementsByTagName('td')[i].innerHTML,
                    has_compact: parseInt(trs[2].getElementsByTagName('td')[i].innerHTML) != 0
                });
            }
            var part_res = [];
            for (var i = 4; i < trs.length - 1; i++) {
                var r_res = trs[i].getElementsByTagName('td');
                console.log(r_res);
                var pointer = 1;
                for (var j = 1; j < trs[0].getElementsByTagName('td').length; j++) {
                    if (partition_map[j - 1].has_compact) {
                        part_res.push({
                            name: partition_map[j - 1].name,
                            data: [ r_res[pointer].getElementsByTagName('input')[0].value , r_res[pointer + 1].getElementsByTagName('input')[0].value ]
                        });
                        pointer += 2;
                    } else {
                        part_res.push({
                            name: partition_map[j - 1].name,
                            data: [ r_res[pointer].getElementsByTagName('input')[0].value]
                        });
                        pointer += 1;
                    }
                }
            }
            res.push({
                model: this.getAttribute('model'),
                size: this.getAttribute('size'),
                serialno: this.getAttribute('serialno'),
                res: part_res
            });
        });
        console.log(JSON.stringify(res));
        var xml = new XMLHttpRequest();
        xml.open('POST', '/measure_commit/', false);
        xml.send('JSON=' + JSON.stringify(res));
        window.location.reload(1);
    }
    function pass(n){
       // var inspector_no = '';
        //$(n).parents('div')
        var xhr = new XMLHttpRequest();
        xhr.open('GET','/measure_check_pass/?inspector_no='+n.getAttribute('employeeno')+'&date='+document.getElementById('date').value,false);
        xhr.send();
       // alert('已经通过');
        window.location.reload(1);   
    } 
    function pass_all(){
        $('#content.button').each(function(){
            var xhr = new XMLHttpRequest();
            xhr.open('GET','/measure_check_pass/?inspector_no='+n.getAttribute('employeeno')+'&date='+document.getElementById('date').value,false);
            xhr.send();
        });
        //alert('已经通过');
        window.location.reload(1);  
    }
    
</script>

{% endblock %}

</head>
{% block other %}
<body>
<div class="container" style="">
    <div class="row clearfix">
        <form action='/measure_check/' style='display:inline'>
            组别：
            <!-- {{inspector_list}} -->
            <select style='width:200px;display:inline' class='form-control' name='department_no' id='dept'>
                {% for temp in dept_list %}
                    <option value='{{temp.no}}'>{{ temp.name }}</option>
                {% endfor %}
            </select>
            日期：
            <!-- {{inspector_list}} -->
            <input style='width:200px;display:inline' class='form-control' name='date' type='date' id='date' value = '{{today}}'/>
            <button class='btn btn-success' type='submit'>查询</button>
            <button class='btn btn-success pull-right' type='button' onclick='pass_all()'>通过全部</button>
        </form>
        <hr/>
        <ul class="nav nav-tabs" role="tablist" id='explorer'>

            {% for temp in inspector_list %}
                <li role="presentation"><a href="#people{{forloop.counter}}" role="tab" data-toggle="tab" state={{temp.state}} value={{temp.employeeno}}>{{temp.employee}}</a></li>
            {% endfor %}
        </ul>
        <datalist id='info_list'>
            {% for info_list in measure_info_list %}
                {% for temp in info_list %}
                    <data model='{{temp.model}}' size='{{temp.size}}' serialno='{{temp.serialno}}'></data>
                {% endfor %}
            {% endfor %}
            <data id='status'>{{state}}</data>
        </datalist>
        <div class="tab-content" id='content'>
        {% for ok in measure_list %}
        <div id="people{{forloop.counter}}" class="tab-pane fade">
            <div class='row clearfix' style='margin-top:10px'>
                    <div class="col-md-3"><button class='btn btn-info' type='button' onclick = 'pass(this)'>通过此检验员的记录</button></div>
                    <div class="col-md-3"><span class="state"></span></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                </div>
            {% for temp in ok %}
            <div class="panel-group" id="accordion{{forloop.counter}}" role="tablist" aria-multiselectable="true" style="margin-top:10px">
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion{{forloop.counter}}" href="#collscape{{forloop.counter}}"
                               aria-expanded="true" aria-controls="collapse{{forloop.counter}}" class='tab_explorer'>
                                批号1 尺寸1
                            </a>
                        </h4>
                    </div>
                    <div id="collscape{{forloop.counter}}" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body" style="min-height:550px;overflow:auto">
                            <table id='table{{forloop.counter}}' class='table table-bordered'>
                                {% for g in temp %}
                                {% ifequal forloop.counter 1 %}
                                <thead>
                                <tr>
                                    <td>部位名</td>
                                    {% for j in g %}
                                    <td colspan='2' style='width:50px'>{{j}}</td>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% else %}
                                    {% ifequal forloop.counter 2 %}
                                    <tr>
                                        <td>公差</td>
                                        {% for j in g %}
                                        <td colspan='2'>±{{j}}</td>
                                        {% endfor %}
                                    </tr>
                                    {% else %}
                                        {% ifequal forloop.counter 3 %}
                                        <tr>
                                            <td>对称误差</td>
                                            {% for j in g %}
                                            <td colspan='2'>{{j}}</td>
                                            {% endfor %}
                                        </tr>
                                        {% else %}
                                            {% ifequal forloop.counter 4 %}
                                            <tr>
                                                <td>标准值</td>
                                                {% for j in g %}
                                                <td colspan='2'>{{j}}</td>
                                                {% endfor %}
                                            </tr>
                                            {% else %}
                                                <tr>
                                                    <td></td>
                                                    {% for j in g %}
    
                                                        {% for i in j %}
    
                                                            <td>{{i}}</td>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </tr>
                                            {% endifequal %}
                                            {% endifequal %}
                                {% endifequal %}
                                {% endifequal %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}
