{% extends 'base.html' %}
{% block title %}疵点构成分析{% endblock %}

{% block staticfiles %}
{% load staticfiles %}
<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
<link href='{% static "css/style.css" %}' rel="stylesheet">
<link rel="stylesheet" type="text/css" href='{% static "css/select2.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "css/select2-bootstrap.css" %}'/>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->
<script type="text/javascript" src='{% static "js/jquery.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/select2.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/select2_locale_zh-CN.js" %}'></script>
<script type="text/javascript" src='{% static "js/highcharts.js" %}'></script>
<script>
    function get_max(data) {
        var count_all = [];
        for (var i = 0; i < data[0].value.length; i++) {
            count_all[i] = 0;
        }
        for (var i = 0; i < count_all.length; i++) {
            for (var j = 0; j < data.length; j++) {
                count_all[i] += data[j].value[i];
            }
        }
        var max = 0;
        for (var k = 0; k < count_all.length; k++) {
            if (count_all[k] > max) {
                max = count_all[k];
            }
        }
        console.log(count_all);
        console.log(max);
        return max;
    }
    window.onload = function () {
    var weak_list_name = [];
    var weak_list_count = [];
    var weak_list_total = 0;
    var temp = document.getElementById('weak_list').getElementsByTagName('data');

    //console.log(temp);
    for (var i=0;i<temp.length;i++){
        weak_list_name.push(temp[i].getAttribute('name'));
        weak_list_count.push(parseInt(temp[i].getAttribute('count')));
        weak_list_total += parseInt(temp[i].getAttribute('count'));
    }
    //alert(weak_list_total);
    var bad_list_name = [];
    var bad_list_count = [];
    var bad_list_total = 0;
    var temp = document.getElementById('bad_list').getElementsByTagName('data');
    for (var i=0;i<temp.length;i++){
        bad_list_name.push(temp[i].getAttribute('name'));
        bad_list_count.push(parseInt(temp[i].getAttribute('count')));
        bad_list_total += parseInt(temp[i].getAttribute('count'));
    }

    var strong_list_name = [];
    var strong_list_count = [];
    var strong_list_total = 0;
    var temp = document.getElementById('strong_list').getElementsByTagName('data');
    for (var i=0;i<temp.length;i++){
        strong_list_name.push(temp[i].getAttribute('name'));
        strong_list_count.push(parseInt(temp[i].getAttribute('count')));
        strong_list_total += parseInt(temp[i].getAttribute('count'));
    }
    //console.log(weak_list_name);  
    var colors = Highcharts.getOptions().colors;
        categories = ['轻微不良', '严重不良', '致命不良'];
        name = 'Browser brands';
        data = [{
                y: weak_list_total,
                color: colors[0],
                drilldown: {
                    name: '轻微不良 明细',
                    categories: weak_list_name,
                    data: weak_list_count,
                    color: colors[0]
                }
            }, {
                y: bad_list_total,
                color: colors[3],
                drilldown: {
                    name: '严重不良 明细',
                    categories: bad_list_name,
                    data: bad_list_count,
                    color: colors[5]
                }
            }, {
                y: strong_list_total,
                color: colors[1],
                drilldown: {
                    name: '致命不良 明细',
                    categories: strong_list_name,
                    data: strong_list_count,
                    color: colors[1]
                }
            }];
    var browserData = [];
    var versionsData = [];
    for (var i = 0; i < data.length; i++) {

        // add browser data
        browserData.push({
            name: categories[i],
            y: data[i].y,
            color: data[i].color
        });

        // add version data
        for (var j = 0; j < data[i].drilldown.data.length; j++) {
            var brightness = 0.2 - (j / data[i].drilldown.data.length) / 5 ;
            versionsData.push({
                name: data[i].drilldown.categories[j],
                y: data[i].drilldown.data[j],
                color: Highcharts.Color(data[i].color).brighten(brightness).get()
            });
        }
    }

    // Create the chart
    $('#canvasDiv').highcharts({
        chart: {
            type: 'pie'
        },
        title: {
            text: '{{departmentname}}生产组疵点构成'
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        plotOptions: {
            pie: {
                shadow: false,
                center: ['50%', '50%']
            }
        },
        tooltip: {
            formatter:function(){
                return this.point.name+'(实际数量):'+this.point.y
            }
        },
        series: [{
            name: 'Browsers',
            data: browserData,
            size: '60%',
            dataLabels: {
                format: '  ',
                color: 'white',
                distance: -30
            }
        }, {
            name: 'Versions',
            data: versionsData,
            size: '80%',
            innerSize: '60%',
            dataLabels: {
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }],
        credits:''
    });
    //console.log(data);
    };
</script>
{% endblock %}
{% block other %}
<div class="row clearfix">
    <datalist id="data">
        {% for temp in res %}
        <data_item name="{{temp.name}}" color="{{temp.color}}">
            {%for tempc in temp.value %}
            <v>{{tempc}}</v>
            {% endfor %}
        </data_item>
        {% endfor %}
    </datalist>
    <datalist id="weak_list">
        {% for temp in weak_list %}
        <data name='{{temp.name}}' count='{{temp.no}}'></data>
        {% endfor %}
    </datalist>
    <datalist id="bad_list">
        {% for temp in bad_list %}
        <data name='{{temp.name}}' count='{{temp.no}}'></data>
        {% endfor %}
    </datalist>
    <datalist id="strong_list">
        {% for temp in strong_list %}
        <data name='{{temp.name}}' count='{{temp.no}}'></data>
        {% endfor %}
    </datalist>
    <div class="col-md-2">
        <form id="form">
            统计时间从：<br/>
            <input required='required' type="date" class="form-control" value="{{ start }}" id="start" name="start"/><br/>
            到：<br/>
            <input required='required' type="date" class="form-control" value="{{ end }}" id="end" name="end"/><br/>

            <div style="max-height: 200px;overflow-y: auto">
                <select id="question_list" style="width: 99%;" name="departmentno">
                    {% for temp in department_list %}
                        {% ifequal temp.ischosen 1 %}
                        <option selected value="{{temp.departmentno}}" >{{ temp.departmentname }}</option>
                        {% else %}
                        <option value="{{temp.departmentno}}" >{{ temp.departmentname }}</option>
                        {% endifequal %}
                    {% endfor %}
                </select>
            </div>
            
            <button class="btn btn-success" style="width:99%;margin-top:10px" type="submit" id="search">查询</button>
        </form>
    </div>
    <div class="col-md-10" id="canvasDiv" style="min-height:600px"></div>
</div>
<script>
    
</script>
<!--加入筛选功能-->
</body>
{% endblock %}