{% extends 'base.html' %}
{% block title %}阶段致命不良汇总{% endblock %}

{% block staticfiles %}
{% load staticfiles %}
<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
<link href='{% static "css/style.css" %}' rel="stylesheet">
<link href='{% static "css/multi-select.css" %}' rel="stylesheet">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href='{% static "css/jquery.dataTables.min.css" %}'/>
<script type="text/javascript" src='{% static "js/jquery.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/scripts.js" %}'></script>
<script type="text/javascript" src='{% static "js/jquery.dataTables.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/jquery.battatech.excelexport.min.js" %}'></script>
<script>
    var day_length_1 = 0;
    function compare_date() {
        var start = window.location.search.toString().split('&')[0].split('=')[1];
        var end = window.location.search.toString().split('&')[1].split('=')[1];
        //alert(start);
        document.getElementById("start").value = start;
        document.getElementById("end").value = end;
        document.getElementById("table_title").innerHTML = '检验员重大疵点记录 时间：' + start + '--' + end;

    }
    window.onload = function () {
        compare_date();
        document.getElementsByTagName('body')[0].style.overflow = 'auto';
        var qclist = document.getElementById('qc_list').getElementsByTagName('qc');
        var rows = document.getElementById("tar").getElementsByTagName('tbody')[0].getElementsByTagName('tr');
        for (var i = 0; i < rows.length; i++) {
            var tds = rows[i].getElementsByTagName('td');
            tds[2].innerHTML = qclist[i % (qclist.length)].innerHTML;
            var count = 0;
            for (var m = 4; m < tds.length; m++) {
                count += parseInt(tds[m].innerHTML);
            }
            tds[3].innerHTML = count;
            if (i == 0) {
                for (var h = 3; h < tds.length; h++) {
                    day_length_1 += 1;
                    document.getElementById('tar').getElementsByTagName('tfoot')[0].getElementsByTagName("tr")[0].appendChild(document.createElement("th"));
                }
            }
        }
        var tfoots = document.getElementById("tar").getElementsByTagName('tfoot')[0].getElementsByTagName('th');
        for (var i=1;i<tfoots.length;i++){
            var count  = 0;
            for (var m = 0;m<rows.length;m++){
                count += parseInt(rows[m].getElementsByTagName('td')[i+2].innerHTML);
            }
            tfoots[i].innerHTML = count;
        }
        document.getElementById('table_title').setAttribute('colspan',day_length_1+3);
        var copy = document.createElement("table");
        copy.innerHTML = document.getElementById("tar").innerHTML;
        copy.setAttribute('border',1);
        copy.style.display = 'none';
        copy.id='copy';
        document.getElementsByTagName('body')[0].appendChild(copy);
        $('#copy tbody tr').each(function () {
            var tex = this.getElementsByTagName('td');
            for (var i = 0; i <= 1; i++) {
                tex[i].setAttribute('style', 'mso-number-format:"\@"');
            }
        });
        var table = $('#tar').DataTable({
            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条记录", "sZeroRecords": "对不起，查询不到任何相关数据",
                "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录", "sInfoEmtpy": "找不到相关数据",
                "sInfoFiltered": "数据表中共为 _MAX_ 条记录)",
                "sProcessing": "正在加载中...",
                "sSearch": "搜索",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "第一页",
                    "sPrevious": " 上一页 ",
                    "sNext": " 下一页 ",
                    "sLast": " 最后一页 " }
            }
        });
        $("#download").on('click', function () {
            document.getElementById('copy').style.display = 'block';
            var uri = $("#copy").btechco_excelexport({
                containerid: "copy", datatype: $datatype.Table, returnUri: true
            });
            $(this).attr('download', document.getElementById('table_title').innerHTML+'.xls').attr('href', uri).attr('target', '_blank');
            document.getElementById('copy').style.display = 'none';
        });
    }
</script>
{% endblock %}

{% block other %}
<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <form class="form form-inline" action="/form3/">
                    <div class="form-group">
                        <label for="start">开始日期(含)：</label>
                        <input required='required' class="form-control" id="start" name="start" style="width:200px;" type="date">
                    </div>
                    <div class="form-group">
                        <label for="end">结束日期(含)：</label>
                        <input required='required' class="form-control" id="end" name="end" style="width:200px;" type="date">
                    </div>
                    <button class="btn btn-primary pull-right" type="submit">
                        查询
                    </button>
                </form>
            </div>
        </div>
        <hr/>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table id="tar" style="width:100%" class="display cell-border">
                    <thead>
                    <tr>
                        <th id="table_title" ></th>
                    </tr>
                    <tr>
                        <th>工号</th>
                        <th>姓名</th>
                        <th>重大不良</th>
                        <th>合计</th>
                        {% for temp in distance_not_have_year %}
                        <th>{{ temp }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for temp in info %}
                    {% for tempc in temp.count_list %}
                    <tr>
                        <td>{{temp.employeeno}}</td>
                        <td>{{temp.employee}}</td>
                        <td></td>
                        <td></td>
                        {% for tempd in tempc %}
                        <td>{{tempd}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="3">合计</th>
                    </tr>
                    </tfoot>
                </table>
                <a class="" href="#" id="download">
                    下载报表
                </a>
                <datalist id="qc_list">
                    {% for temp in question.questionname %}
                    <qc>{{temp}}</qc>
                    {% endfor %}
                </datalist>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}