{% extends 'base.html' %}
{% block title %}二检员工工时统计{% endblock %}

{% block staticfiles %}
{% load staticfiles %}
<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
<link href='{% static "css/style.css" %}' rel="stylesheet">
<style type="text/css">
    .format {
    }
</style>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href='{% static "css/jquery.dataTables.min.css" %}'/>
<script type="text/javascript" src='{% static "js/jquery.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/scripts.js" %}'></script>
<script type="text/javascript" src='{% static "js/jquery.dataTables.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/jquery.battatech.excelexport.min.js" %}'></script>
<script>
    var days_length = 0;
    function compare_date() {
        var start = window.location.search.toString().split('&')[0].split('=')[1];
        var end = window.location.search.toString().split('&')[0].split('=')[1];
        //var day_start = new Date(start);
        //var day_end = new Date(end);
        //days_length = Math.floor((day_end.getTime() - day_start.getTime()) / (3600 * 24 * 1000));
        document.getElementById("start").value = start;
        //document.getElementById("end").value = end;
        if (start.toString() != 'undefined'){
            document.getElementById("table_title").innerHTML = '二检工时统计 时间：' + start;
        }else{
            document.getElementById("table_title").innerHTML = '二检工时统计';
        }
        //document.getElementById("table_title").setAttribute('colspan', days_length + 4);
    }
    var current;
    $(document).ready(function () {
        document.getElementsByTagName('body')[0].style.overflow = 'auto';
        compare_date();
        $("#download").on('click', function () {
            document.getElementById('tar').setAttribute('border',1);
            var uri = $("#tar").btechco_excelexport({
                containerid: "tar", datatype: $datatype.Table, returnUri: true
            });
            $(this).attr('download', document.getElementById('table_title').innerHTML+'.xls').attr('href', uri).attr('target', '_blank');
            document.getElementById('copy').style.display = 'none';
        });
        $('td.center_cell').each(function(){
            this.setAttribute('style','text-align:center;vertical-align:middle');
        });
        $('a.change_real_time').each(function(){
            
            this.onclick=function () {
                current = this.parentNode.parentNode;
                $('#change').modal('show');
            }
            this.style.cursor = 'pointer';
            this.innerHTML = '<span class="glyphicon glyphicon-pencil"></span>'
        });
        $('#change').on('shown.bs.modal',function(){
            document.getElementById('num').click();
            document.getElementById('num').focus();
        });
        $('#tar tbody').each(function(){
            if (this.innerHTML == ''){
                alert('查询不到任何数据');
            }
        });
       
    });

</script>
{% endblock %}

{% block other %}
<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <form class="form form-inline" action="/form7/">
                    <div class="form-group">
                        <label for="start">日期选择：</label>
                        <input class="form-control" id="start" name="date" required='required' style="width:200px;" type="date">
                    </div>
                    <button class="btn btn-primary pull-right" type="submit">
                        查询
                    </button>
                </form>
            </div>
        </div>
        <hr/>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <a class="" href="#" id="download">
                    下载报表
                </a>
                <table style="width:100%" id="tar" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th id="table_title" style="text-align: center" colspan="8"></th>
                        </tr>
                        <tr>
                            <th>工号</th>
                            <th>姓名</th>
                            <th>款式</th>
                            <th>完成件数</th>
                            <!-- <th>工价</th> -->
                            <th>工时</th>
                            <!-- <th>合计完成收入</th> -->
                            <th>合计完成工时</th>
                            <th>实际工作工时</th>
                            <th>完成效率</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for temp in res %}
                            {% for tt in temp.res %}
                                <tr>
                                {% if forloop.first %}
                                        <td rowspan="{{temp.length}}">{{temp.no}}</td>
                                        <td rowspan="{{temp.length}}">{{temp.name}}</td>
                                {% endif %}
                                        <td>{{tt.batch}}</td>
                                        <td>{{tt.count}}</td>
                                        <!-- <td>{{tt.price}}</td> -->
                                        <td>{{tt.time}}</td>
                                        <!-- <td>{{tt.tincome}}</td> -->
                                        <td>{{tt.ttime}}</td>
                                {% if forloop.first %}
                                    {% ifequal temp.real_time 0 %}
                                        <td rowspan="{{temp.length}}" class='center_cell'>27000<a class='change_real_time'></a></td>
                                    {% else %}
                                        <td rowspan="{{temp.length}}" class='center_cell'>{{temp.real_time}}<a class='change_real_time'></a></td>
                                    {% endifequal %}
                                    <td rowspan="{{temp.length}}" class='center_cell'>{{temp.efficent}}%</td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                            <tr>
                                <td>合计</td>
                                <td></td>
                                <td></td>
                                <!-- <td>{{temp.total_income}}</td> -->
                                <td no="{{temp.no}}" class='total_time'>{{temp.total_time}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" id='change'>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">修改实际工时</h4>
      </div>
      <div class="modal-body">
        <div class='row clearfix'>
            <div class='col-md-4'>
            
            </div>
            <div class='col-md-4'>
               <input class='form-control' id='num'/>
            </div>
            <div class='col-md-4'>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick='return change_num()'>确定</button>
        <script type="text/javascript">
            function change_num () {
                var real_time = parseFloat(document.getElementById('num').value);
                if (!real_time){
                    alert("数据错误");
                    return ;
                }
                var tar_cell = current.getElementsByTagName('td')[6];
                console.log(tar_cell);
                tar_cell.innerHTML = real_time;
                var a = document.createElement('a');
                a.style.cursor = 'pointer';
                a.innerHTML = '<span class="glyphicon glyphicon-pencil"></span>';
                a.onclick = function(){
                    current = this.parentNode.parentNode;
                    // this.onclick=function () {
                    $('#change').modal('show');
                };
                tar_cell.appendChild(a);
                var total_time = 0;
                $('td.total_time').each(function(){
                    if (this.getAttribute('no') == current.getElementsByTagName('td')[0].innerHTML){
                        total_time = parseFloat(this.innerHTML);
                    }
                });
                current.getElementsByTagName('td')[7].innerHTML = (total_time*100/real_time).toFixed(2)+'%';
                var xml = new XMLHttpRequest();
                var res = '/update_recheck_efficent/?';
                res += 'name='+current.getElementsByTagName('td')[1].innerHTML+'&';
                res += 'no='+current.getElementsByTagName('td')[0].innerHTML+'&';
                res += 'real_time='+real_time+'&';
                res += 'efficent='+current.getElementsByTagName('td')[7].innerHTML.slice(0,-1)+'&';
                res += 'date='+window.location.search.toString().split('&')[0].split('=')[1];
                console.log(res);
                xml.open('GET',res,false);
                xml.send();
                $('#change').modal('hide');
            }
        </script>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
{% endblock %}