{% extends 'base.html' %}
{% block title %}测量统计结果一览{% endblock %}

{% block staticfiles %}
{% load staticfiles %}
<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
<link href='{% static "css/style.css" %}' rel="stylesheet">
<link rel="stylesheet" type="text/css" href='{% static "css/select2.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "css/select2-bootstrap.css" %}'/>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->
<script type="text/javascript" src='{% static "js/jquery.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/select2.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/select2_locale_zh-CN.js" %}'></script>
<script type="text/javascript" src='{% static "js/highcharts.js" %}'></script>
<script>
    window.onload = function () {
       $('#batch').select2();
        var measure_error = [];
        var balanced_error = [
            [],
            []
        ];
        for (var i = 0; i < 5; i++) {
            measure_error.push([]);
        }
        var partitions = [];
        var counter = 0;
        $('#tar_data data').each(function () {
            partitions.push(this.getAttribute('partition'));
            var datas_left = this.getElementsByTagName('data_left')[0].getElementsByTagName('sor');
            for (var i = 0; i < datas_left.length; i++) {
                balanced_error[i].push(parseInt(datas_left[i].innerHTML));
            }
            if (datas_left.length == 0) {
                //var datas_left = this.getElementsByTagName('data_left')[0].getElementsByTagName('sor');
                for (var i = 0; i < 2; i++) {
                    balanced_error[i].push(0);
                }
            }
            var datas_right = this.getElementsByTagName('data_right')[0].getElementsByTagName('sor');
            for (var i = 0; i < datas_right.length; i++) {
                measure_error[i].push(parseInt(datas_right[i].innerHTML));
            }
        });
        console.log(measure_error);
        var colors = Highcharts.getOptions().colors;
        $('#canvasDiv').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: window.location.search.split('?')[1].split('=')[1] + '批次部位测量统计'
            },
            xAxis: {
                categories:partitions
            },

            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: '统计情况（百分比）'
                }
            },

            tooltip: {
                formatter: function (e) {
                    return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y + '<br/>' +
                            '总计: ' + this.point.stackTotal;

                }
            },
            plotOptions: {
                column: {
                    stacking: 'percent'
                }
            },
            credits: {
                enabled: false
            },
            series: [
                {
                    name: '超出对称误差',
                    data: balanced_error[1],
                    stack: 'male'
                    //color:colors[6]
                },
                {
                    name: '未超出对称误差',
                    data: balanced_error[0],
                    stack: 'male'
                    //color:colors[4]
                },
                {
                    name: '超正差',
                    data: measure_error[4],
                    stack: 'female'
                    //color:colors[3]
                },
                {
                    name: '正差',
                    data: measure_error[3],
                    stack: 'female'
                    //color:colors[2]
                },
                {
                    name: '标准',
                    data: measure_error[2],
                    stack: 'female'
                    //color:colors[7]
                },
                {
                    name: '负差',
                    data: measure_error[1],
                    stack: 'female'
                    //color:colors[0]
                },
                {
                    name: '超负差',
                    data: measure_error[0],
                    stack: 'female'
                    //color:colors[1]
                }
            ]
        });
    };
</script>
{% endblock %}
{% block other %}
<div class="row clearfix">
    <datalist id="tar_data">
        {% for temp in res %}
        <data partition="{{temp.partition}}">
            <data_left>
                {% for t in temp.data_left %}
                <sor>{{t}}</sor>
                {% endfor %}
            </data_left>
            <data_right>
                {% for t in temp.data_right %}
                <sor>{{t}}</sor>
                {% endfor %}
            </data_right>
        </data>
        {% endfor %}
    </datalist>
    <div class="col-md-2">
        <form action="/bar_measure_chart/">
            批号选择：
            <select name="batch" id="batch" style="width: 99%">
                {% for temp in batch_list %}
                <option>{{temp}}</option>
                {% endfor %}
                <option selected></option>
            </select>
            <br/>
            <button class="btn btn-success" style="margin-top: 20px;width: 99%">查询</button>
        </form>
    </div>
    <div class="col-md-10" style="min-height: 600px" id="canvasDiv">

    </div>
</div>
<!--加入筛选功能-->
</body>
{% endblock %}