{% extends 'base.html' %}
{% block title %}返修活检验{% endblock %}

{% block staticfiles %}
{% load staticfiles %}
<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
<link href='{% static "css/style.css" %}' rel="stylesheet">
<link rel="stylesheet" type="text/css" href='{% static "css/jquery.dataTables.min.css" %}'/>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<script type="text/javascript" src='{% static "js/jquery.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/scripts.js" %}'></script>
<script type="text/javascript" src='{% static "js/jquery.dataTables.min.js" %}'></script>

<script>
    var current;
    window.onload = function () {
        $('#tar input').each(function () {
            this.value = parseInt(this.value);
        });
        document.getElementById('start').value = window.location.search.split('&')[0].split('=')[1];
        document.getElementById('end').value = window.location.search.split('&')[1].split('=')[1];
        var table = $('#tar').DataTable({
            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条记录", "sZeroRecords": "对不起，查询不到任何相关数据",
                "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录", "sInfoEmtpy": "找不到相关数据",
                "sInfoFiltered": "数据表中共为 _MAX_ 条记录)",
                "sProcessing": "正在加载中...",
                "sSearch": "搜索",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "第一页",
                    "sPrevious": " 上一页 ",
                    "sNext": " 下一页 ",
                    "sLast": " 最后一页 " }
            }
            //sScrollX: '100%'
        });
        document.getElementById('tar').getElementsByTagName('thead')[0].getElementsByTagName('th')[6].click();
        $('a.add_mistake').click(function (e) {
            current = e.target.parentNode.parentNode.getElementsByTagName('td')[7];
            $('#mistake_modal').modal('show')
        });
        $('#mistake_modal').on('shown.bs.modal',function () {
            document.getElementById('mistake_num').focus();
            document.getElementById('mistake_num').click();
        }).on('hidden.bs.modal', function () {
            judge_pass_or_not (current.parentNode);
            document.getElementById('mistake_num').value = '';
        });
        document.getElementById('mistake_list').onchange = function () {
            document.getElementById('mistake_num').focus();
        };
    };
    var number;
    function judge_pass_or_not (tr) {
        console.log(tr);
        var has_mistake_flag = false;
        $(tr).find("span.glyphicon-remove").each(function(){
            has_mistake_flag = true;
        });
        if (has_mistake_flag){
            $(tr).find("select").val(0);
        }else{
            $(tr).find("select").val(1);
        }
    }
    function OnClickNum(input) {
        var num = number.value;
        num = num + parseInt(input.innerHTML);
        number.value = num;
        var base = document.getElementById("mistake_4");
        if (number.id == "search_label") {
            flush_search_area(xmlfile);
        }
        number.focus();
    }

    function OnClickSearchDel() {
        number.value = number.value.slice(0, -1);
        var base = document.getElementById("mistake_4");
        if (number.id == "search_label") {
            flush_search_area(xmlfile);
        }
        number.focus();
    }
    function submitall() {
        var http = new XMLHttpRequest();
        var url = '/pass_return_check/?';
        var legal = true;
        var resjson = [];
        $('#tar tbody tr.not_submited').each(function () {
            var mis = this.getElementsByTagName('div');
            var mistakes = [];
            for (var i = 0; i < mis.length; i++) {
                mistakes.push({
                    'name': mis[i].getAttribute('name'),
                    'no': mis[i].getAttribute('no'),
                    'count': mis[i].getAttribute('count')
                });
            }
            resjson.push({
                'inner_serialno': this.getAttribute('inner_serialno'),
                'serialno': this.getAttribute('serialno'),
                'count': parseInt(this.getElementsByTagName('td')[5].getElementsByTagName('input')[0].value),
                'conclusion': this.getElementsByTagName('select')[0].value,
                'mistakes': mistakes
            });
            if (parseInt(this.getElementsByTagName('td')[5].getElementsByTagName('input')[0].value) > parseInt(this.getElementsByTagName('td')[4].innerHTML)) {
                alert('数据有误');
                return;
            }
        });

        http.open('POST', url, true);
        console.log(JSON.stringify(resjson));
        http.onreadystatechange = function () {
            if (http.readyState == 4 && http.status == 200) {
                alert("提交成功");
                window.location.reload(1);
            }
        };
        http.send('res=' + JSON.stringify(resjson));

    }
    function submit(n) {
        var http = new XMLHttpRequest();
        var url = '/pass_return_check/?';
        if (parseInt(n.getElementsByTagName('td')[5].getElementsByTagName('input')[0].value) > parseInt(n.getElementsByTagName('td')[4].innerHTML)) {
            alert('数据有误');
            return;
        }
        http.open('POST', url, true);
        var mistakes = [];
        var mis = n.getElementsByTagName('div');
        for (var i = 0; i < mis.length; i++) {
            mistakes.push({
                'name': mis[i].getAttribute('name'),
                'no': mis[i].getAttribute('no'),
                'count': mis[i].getAttribute('count')
            })
        }
        var resjson = [];
        resjson.push({
            'inner_serialno': n.getAttribute('inner_serialno'),
            'serialno': n.getAttribute('serialno'),
            'count': parseInt(n.getElementsByTagName('td')[5].getElementsByTagName('input')[0].value),
            'conclusion': n.getElementsByTagName('select')[0].value,
            'mistakes': mistakes
        });
        http.onreadystatechange = function () {
            if (http.readyState == 4 && http.status == 200) {
                alert("提交成功");
                window.location.reload(1);
            }
        };
        //console.log(JSON.stringify(resjson));
        http.send('res=' + JSON.stringify(resjson));
    }

</script>
{% endblock %}

{% block other %}
<div class="row clearfix">
    <div class="col-md-12 column">
        <form class="form form-inline" action="{{ request_url }}">
            <div class="form-group">
                <label for="start">开始日期(含)：</label>
                <input required='required' class="form-control" id="start" name="start" style="width:200px;" type="date">
            </div>`
            <div class="form-group">
                <label for="end">结束日期(含)：</label>
                <input required='required' class="form-control" id="end" name="end" style="width:200px;" type="date">
            </div>

            <button class="btn btn-primary pull-right" type="submit">
                查询
            </button>
        </form>
    </div>
</div>
<hr/>
<div class="row clearfix">
    <div class="col-md-1 column"></div>
    <div class="col-md-10 column">
        <table class="table table-bordered" id="tar">
            <thead>
            <tr>
                <th>类型</th>
                <th>提交时间</th>
                <th>批号</th>
                <th>检验数量</th>
                <th>检验返修数量</th>
                <th>实际返修数量</th>
                <th>结论</th>
                <th>疵点</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for temp in return_check_list %}
            {% ifequal temp.state 1 %}
            <tr serialno="{{ temp.serialno }}" inner_serialno="{{ temp.inner_serialno }}">
            {% else %}
            <tr serialno="{{ temp.serialno }}" inner_serialno="{{ temp.inner_serialno }}" class='not_submited'>
            {% endifequal %}
                <td>{{ temp.type }}</td>
                <td>{{ temp.createtime }}</td>
                <td>{{ temp.batch }}</td>
                <td>{{ temp.totalnumber }}</td>
                <td>{{ temp.totalreturn }}</td>
                {% ifequal temp.state 0 %}
                <td><input class="form-control" value="{{ temp.totalreturn }}"
                           onclick="number = this;"/></td>
                {% else %}
                <td>{{ temp.realreturn }}</td>
                {% endifequal %}


                {% ifequal temp.state 1 %}
                {% ifequal temp.ok 1 %}
                <td>通过</td>
                {% else %}
                <td>不通过</td>
                {% endifequal %}
                {% else %}
                <td>
                    <select>
                        {% ifequal temp.ok 1 %}
                        <option value="0">不通过</option>
                        <option value="1" selected>通过</option>
                        {% else %}
                        <option value="0" selected>不通过</option>
                        <option value="1">通过</option>
                        {% endifequal %}
                    </select>
                </td>
                {% endifequal %}
                <td style="width: 150px">
                    {% for cc in temp.question_list %}
                        <div name="{{cc.name}}" count="{{cc.count}}" no="{{cc.no}}">
                            {{cc.name}}x{{cc.count}}
                            {% ifequal temp.state 1%}
                            {% else %}
                                <a style="cursor: pointer;" onclick="this.parentNode.parentNode.removeChild(this.parentNode);"> <span class="glyphicon glyphicon-remove"></span></a>
                            {% endifequal %}
                        </div>
                    {% endfor %}
                </td>
                {% ifequal temp.state 0 %}
                <td>
                    <a href="#" onclick="return submit(this.parentNode.parentNode)">提交</a>
                    /<a href="#" class="add_mistake">添加疵点</a>

                </td>
                {% else %}
                <td>
                    已提交
                    {% ifequal temp.ok 0  %}
                        <a href="/add_return_check/?serialno={{temp.serialno}}&type={{ temp.type }}#{{temp.totalnumber}}"  target="_blank">补录</a>
                    {% endifequal %}
                </td>
                {% endifequal %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-1 column">

    </div>
</div>
<div class="row clearfix" style="margin-top: 10px">
    <div class="col-md-2 column"></div>
    <div class="col-md-8 column">
        <div class="btn-group btn-group-justified">
            <a class="btn  btn-default"
               onclick="return OnClickNum(this)" style="width:50px">0
            </a>
            <a class="btn  btn-default"
               onclick="return OnClickNum(this)" style="width:50px">1
            </a>
            <a class="btn  btn-default"
               onclick="return OnClickNum(this)" style="width:50px">2
            </a>
            <a class="btn  btn-default"
               onclick="return OnClickNum(this)" style="width:50px">3
            </a>
            <a class="btn  btn-default"
               onclick="return OnClickNum(this)" style="width:50px">4
            </a>
            <a class="btn  btn-default"
               onclick="return OnClickNum(this)" style="width:50px">5
            </a>
        </div>
        <div class="btn-group btn-group-justified">
            <a class="btn  btn-default"
               onclick="return OnClickNum(this)" style="width:50px">6
            </a>
            <a class="btn  btn-default"
               onclick="return OnClickNum(this)" style="width:50px">7
            </a>
            <a class="btn  btn-default"
               onclick="return OnClickNum(this)" style="width:50px">8
            </a>
            <a class="btn  btn-default"
               onclick="return OnClickNum(this)" style="width:50px">9
            </a>
            <a class="btn  btn-default "
               onclick="return OnClickSearchDel()" id="numdelete" style="width:50px">删除
            </a>
            <a class="btn btn-success" style="width:50px" onclick="submitall()">全部提交</a>

        </div>
    </div>
    <div class="col-md-2 column"></div>
</div>
<div class="modal fade" id="mistake_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加疵点</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        <select class="form-control" style="width:100%" id="mistake_list">
                            {% for temp in question_list %}
                            <option value="{{temp.questionno}}">{{temp.questionno}}.{{temp.questionname}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" id="mistake_num" placeholder="数量" onclick="number=this"/>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <hr/>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="btn-group btn-group-justified">
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">0
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">1
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">2
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">3
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">4
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">5
                            </a>
                        </div>
                        <div class="btn-group btn-group-justified">
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">6
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">7
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">8
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">9
                            </a>
                            <a class="btn  btn-default "
                               onclick="return OnClickSearchDel()" id="numdelete_" style="width:50px">删除
                            </a>
                            <a class="btn  btn-default "
                               onclick="number.value = '';number.focus()" id="_numdelete_" style="width:50px">清空
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-info" onclick="return mistake_add()">添加
                </button>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    function mistake_add() {
        var no = document.getElementById('mistake_list').value;
        var name = $("#mistake_list  option:selected").text().split('.')[1];
        var count = parseInt(document.getElementById('mistake_num').value);
        if (count > parseInt(current.parentNode.getElementsByTagName('td')[4].innerHTML)) {
            alert('疵点数超过返修数');
            return;
        }
        if (!count) {
            alert('数据格式有误');
        }
        var a = document.createElement('a');
        a.onclick = function () {
            var ss = this.parentNode.parentNode.parentNode;
            this.parentNode.parentNode.removeChild(this.parentNode);
            judge_pass_or_not(ss);

        };
        a.style.cursor = 'pointer';
        a.innerHTML = ' <span class="glyphicon glyphicon-remove"></span>';
        var res = current.getElementsByTagName('div');
        for (var i = 0; i < res.length; i++) {
            if (res[i].getAttribute('no') == no) {
                count += parseInt(res[i].getAttribute('count'));
                if (count > parseInt(current.parentNode.getElementsByTagName('td')[4].innerHTML)) {
                    alert('疵点数超过返修数');
                    return;
                }
                res[i].setAttribute('count', count);
                res[i].innerHTML = res[i].getAttribute('name') + 'x' + res[i].getAttribute('count');
                res[i].appendChild(a);
                return;
            }
        }
        var div = document.createElement('div');
        div.setAttribute('name', name);
        div.setAttribute('no', no);
        div.setAttribute('count', count);
        div.innerHTML = name + 'x' + count;
        div.appendChild(a);
        //console.log(div);
        current.appendChild(div);
    }
</script>
<!--加入筛选功能-->
</body>
{% endblock %}