{% extends 'base.html' %}
{% block title %}个人信息{% endblock %}

{% block staticfiles %}
{% load staticfiles %}
<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
<link href='{% static "css/style.css" %}' rel="stylesheet">
<link rel="stylesheet" type="text/css" href='{% static "css/jquery.dataTables.min.css" %}'/>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<script type="text/javascript" src='{% static "js/jquery.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/scripts.js" %}'></script>
<script type="text/javascript" src='{% static "js/jquery.dataTables.min.js" %}'></script>
<script>
    window.onload = function () {
        var index = parseInt(window.location.hash.slice(1));

        var tabs = document.getElementById("explorer").getElementsByTagName("a");
        if (index || index == 0) {
            //alert(index);
            tabs[index].click();
        }
        // alert(window.location.search.slice(1).length);
        if (window.location.search.slice(1).length != 0) {
            alert(decodeURI(window.location.search.slice(1)));
        }

    }
</script>
{% endblock %}

{% block other %}
<div class="row clearfix">
    <div class="col-md-12 column">
        <ul class="nav nav-tabs" role="tablist" id="explorer">
            <li class="active"><a href="#status" role="tab" data-toggle="tab">统计信息</a></li>
            <li><a href="#account" role="tab" data-toggle="tab">密码修改</a></li>
            <li><a href="#self-setting" role="tab" data-toggle="tab">二检组别排序</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="status">
                <div class="row clearfix">
                    <hr/>
                    <div class="col-md-12 column">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>今日已检（一检）</th>
                                    <th>今日工时（一检）</th>
                                    <th>返修件数（一检）</th>
                                    <th>漏验件数（一检）</th>
                                    <th>漏验率（%）</th>
                                    <th>今日已检（二检）</th>
                                    <th>返修件数（二检）</th>
                                    <th>捋肩带（二检）</th>
                                    <th>漏验明细</th>
                                    {% for temp in day_column_list %}
                                        <th>{{temp}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ today_total_check }}</td>
                                    <td>{{ today_total_worktime }}</td>
                                    <td>{{ today_check_totalreturn }}</td>
                                    <td>{{ today_check_miss }}</td>
                                    <td>{{ today_check_miss_percentage }}</td>
                                    <td>{{ today_recheck_totalnumber }}</td>
                                    <td>{{ today_recheck_totalreturn }}</td>
                                    <td>{{ bald_totalnumber }}</td>
                                    <td>
                                        {% for temp in question_list %}
                                            {{ temp }},
                                        {% endfor %}
                                    </td>
                                    {% for temp in worktime_list %}
                                    <td>{{temp}}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <thead>
                                <tr>

                                    <th colspan='{{month_col_len}}'>一检工时月度统计</th>
                                </tr>
                                <tr>
                                    <th>批号</th>
                                    {% for temp in month_column_list %}
                                        <th>{{temp}}</th>
                                    {% endfor %}
                                    <th>总件数</th>
                                    <th>总工时</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for temp_key,temp_value in worktime_month_list.items %}
                            <tr>
                                <td>{{temp_key}}</td>
                                {% for temp in temp_value %}
                                    <td>{{temp}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan=''>合计</th>
                                    {% for temp in sum_month_list %}
                                    <th>{{temp}}</th>
                                    {% endfor %}
                                </tr>
                            </tfoot>
                        </table>                 
                        <hr/>
                        <form class="form form-inline">
                            <div class="form-group">
                                <label for="his_start">开始日期(含)：</label>
                                <input class="form-control" id="his_start" name="start" style="width:200px;"
                                       type="date" value="">
                            </div>
                            <div class="form-group">
                                <label for="his_end">结束日期(含)：</label>
                                <input class="form-control" id="his_end" name="end" style="width:200px;"
                                       type="date">
                            </div>
                            <button class="btn btn-primary pull-right" type="button"
                                    onclick="flush_personal_history();this.disabled = true;this.innerHTML = '需再次查询请刷新页面';">
                                查询
                            </button>
                        </form>
                    </div>
                </div>
                <hr/>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <table class="display" id="his_personal" style="width:99%;text-align: center;">
                            <thead>
                            <tr>
                                <th></th>
                                <th>日期</th>
                                <th>一检已检</th>
                                <th>一检返修</th>
                                <th>一检返修率</th>
                                <th>一检漏验数</th>
                                <th>一检漏验率</th>
                                <th>二检已检</th>
                                <th>二检返修</th>
                                <th>捋肩带</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="account">
                <div class="row clearfix">
                    <div class="col-md-4 column"></div>
                    <div class="col-md-4 column">

                        <hr/>
                        <label>修改密码</label><br/>

                        <form action="/myinfo_change_password/" id="change_passwd">
                            <div class="form-group">
                                <label for='pre'>原密码</label>
                                <input class="form-control" type="password" name="pre" id="pre"
                                       onfocus="number = this"/>

                                <p class="help-block">纯数字</p>
                            </div>
                            <div class="form-group">
                                <label for='adv'>新密码</label>
                                <input class="form-control" type="password" name="adv" id="adv"
                                       onfocus="number = this"/>

                                <p class="help-block">纯数字</p>
                            </div>
                            <div class="form-group">
                                <label for='adv_repeat'>重复新密码</label>
                                <input class="form-control" type="password" name="adv_repeat" id="adv_repeat"
                                       onfocus="number = this"/>

                                <p class="help-block">纯数字</p>
                            </div>
                            <div class="form-group">
                                <button type="button" onclick="onclicksubchangepass()"
                                        class="btn btn-success btn-block">提交
                                </button>
                            </div>
                        </form>
                        <div class="btn-group btn-group-justified">
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">0
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">1
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">2
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">3
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">4
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">5
                            </a>
                        </div>
                        <div class="btn-group btn-group-justified">
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">6
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">7
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">8
                            </a>
                            <a class="btn  btn-default"
                               onclick="return OnClickNum(this)" style="width:50px">9
                            </a>
                            <a class="btn  btn-default "
                               onclick="return OnClickSearchDel()" id="numdelete" style="width:100px">删除
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 column"></div>
                </div>
            </div>
            <div class="tab-pane" id="self-setting">
                <div class="row clearfix">
                    <hr/>
                    <div class="col-md-3 column"></div>
                    <div class="col-md-4 column" id="department_recheck_list">
                        <select style="width:100%; height: 150px" multiple="multiple" id="dept_recheck_seq">
                            {% for temp in department_list %}
                            <option value="{{ temp.departmentno }}"
                                    onclick="return on_choose_tar_recheck(this)">
                                {{ temp.departmentname }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2 column" id="recheck_department_control">
                        <button class="btn btn-default" onclick="return recheck_move_up()">上移</button>
                        <br/>
                        <button class="btn btn-default" style="margin-top: 20px"
                                onclick="return recheck_move_down()">
                            下移
                        </button>
                        <br/>
                        <button class="btn btn-success" style="margin-top: 20px" onclick="onclickdeptsub()">
                            提交
                        </button>
                    </div>
                    <div class="col-md-1 column"></div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<script>
    var table;
    function flush_personal_history() {
        if (document.getElementById('his_start').value == '' || document.getElementById('his_end').value == '') {
            alert('请选择完整的日期');
            return;
        }
        var res = '';
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                //document.write(xmlhttp.responseText.toString());
                res = xmlhttp.responseText.toString();
                //alert(res);
                document.getElementById('his_personal').getElementsByTagName('tbody')[0].innerHTML = res;
                var rows = document.getElementById('his_personal').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
                for (var i = 0; i < rows.length; i++) {
                    var click = document.createElement('a');
                    click.innerHTML = '<span class="glyphicon glyphicon-plus"></span>';
                    click.value = '0';
                    var cur_row = rows[i];
                    click.onclick = function () {
                        if (this.value == '0') {
                            this.value = '1';
                            this.innerHTML = '<span class="glyphicon glyphicon-minus"></span>';
                            cur_row.child('this is detail').show();
                        } else {
                            this.value = '0';
                            this.innerHTML = '<span class="glyphicon glyphicon-plus"></span>';
                        }
                    };
                    //rows[i].getElementsByTagName('td')[0].appendChild(click);

                }
                $(".first").each(function () {
                    this.innerHTML = '<center><a><span class="glyphicon glyphicon-plus"></span></a></center>';
                });
                table = $('#his_personal').DataTable({
                    "oLanguage": {
                        "sLengthMenu": "每页显示 _MENU_ 条记录", "sZeroRecords": "对不起，查询不到任何相关数据",
                        "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录", "sInfoEmtpy": "找不到相关数据",
                        "sInfoFiltered": "数据表中共为 _MAX_ 条记录)",
                        "sProcessing": "正在加载中...",
                        "sSearch": "搜索",
                        "sUrl": "",
                        "oPaginate": {
                            "sFirst": "第一页",
                            "sPrevious": " 上一页 ",
                            "sNext": " 下一页 ",
                            "sLast": " 最后一页 " }
                    },
                    'bDestroy': true,
                    'bRetrieve': true
                });

                $('#his_personal tbody').on('click', 'td.first', function () {
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);
                    if (row.child.isShown()) {
                        this.innerHTML = '<center><a><span class="glyphicon glyphicon-plus"></span></a></center>';
                        row.child.hide();
                    }
                    else {
                        // Open this row
                        this.innerHTML = '<center><a><span class="glyphicon glyphicon-minus"></span></a></center>';
                        row.child('漏验明细:<hr/>'+this.parentNode.getAttribute('list')).show();
                    }
                });

            }
        };
        xmlhttp.open("GET", '/myinfo_history/' + '?start=' + document.getElementById('his_start').value + '&end=' + document.getElementById('his_end').value, true);
        xmlhttp.send();
    }
    function onclickdeptsub() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                alert('修改成功');
            }
        };
        var depts = 'dept=';
        $("#dept_recheck_seq option").each(function () {
            depts += this.value + '-';
        });
        depts = depts.slice(0, -1);
        xmlhttp.open("GET", '/change_recheck_departmentno_sequence/' + '?' + depts, true);
        xmlhttp.send();
    }
    $('#recheck_department_control button').each(function () {
        this.disabled = true;
    });
    function onclicksubchangepass() {
        var ille = true;
        $('#change_passwd input').each(function () {
            if (this.value == '') {
                ille = false;
            }
        });
        if (document.getElementById('adv').value != document.getElementById('adv_repeat').value) {
            ille = false;
        }
        if (!ille) {
            alert('有漏填或两次输入的密码不一致');
            return;
        } else {
            document.getElementById('change_passwd').submit();
        }
    }
    function on_choose_tar_recheck(node) {

        node.checked = true;
        tar_recheck_dept = node;
        $('#recheck_department_control button').each(function () {
            this.disabled = false;
        });
    }
    function recheck_move_up() {
        if (tar_recheck_dept.value != tar_recheck_dept.parentNode.getElementsByTagName('option')[0].value) {
            var temp = '';
            temp = tar_recheck_dept.previousElementSibling.value;
            tar_recheck_dept.previousElementSibling.value = tar_recheck_dept.value;
            tar_recheck_dept.value = temp;
            temp = tar_recheck_dept.previousElementSibling.innerHTML;
            tar_recheck_dept.previousElementSibling.innerHTML = tar_recheck_dept.innerHTML;
            tar_recheck_dept.innerHTML = temp;
            tar_recheck_dept.selected = false;
            tar_recheck_dept = tar_recheck_dept.previousElementSibling;
            tar_recheck_dept.selected = true;
        }
    }


    function recheck_move_down() {
        if (tar_recheck_dept.value != tar_recheck_dept.parentNode.getElementsByTagName('option')[tar_recheck_dept.parentNode.getElementsByTagName('option').length - 1].value) {
            var temp = '';
            temp = tar_recheck_dept.nextElementSibling.value;
            tar_recheck_dept.nextElementSibling.value = tar_recheck_dept.value;
            tar_recheck_dept.value = temp;
            temp = tar_recheck_dept.nextElementSibling.innerHTML;
            tar_recheck_dept.nextElementSibling.innerHTML = tar_recheck_dept.innerHTML;
            tar_recheck_dept.innerHTML = temp;
            tar_recheck_dept.selected = false;
            tar_recheck_dept = tar_recheck_dept.nextElementSibling;
            tar_recheck_dept.selected = true;
        }
    }

    var number = document.getElementById('pre');

    function OnClickNum(input) {
        var num = number.value;
        num = num + parseInt(input.innerHTML);
        number.value = num;
        var base = document.getElementById("mistake_4");
        if (number.id == "search_label") {
            flush_search_area(xmlfile);
        }
        number.focus();
    }

    function OnClickSearchDel() {
        number.value = number.value.slice(0, -1);
        var base = document.getElementById("mistake_4");
        if (number.id == "search_label") {
            flush_search_area(xmlfile);
        }
        number.focus();
    }
</script>
<!--加入筛选功能-->
</body>
{% endblock %}