{% extends 'base.html' %}
{% block title %}成品抽验{% endblock %}
{% block staticfiles %}
{% load staticfiles %}
<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet" type='text/css'>
<link href='{% static "css/buttons.css" %}' rel="stylesheet" type='text/css'>
<link href='{% static "css/font-awesome.min.css" %}' rel="stylesheet" type='text/css'>
<link href='{% static "css/messenger.css" %}' rel="stylesheet" type='text/css'>
<link href='{% static "css/messenger-theme-flat.css" %}' rel="stylesheet" type='text/css'>
<script src='{% static "js/recheck.js" %}' type="text/javascript"></script>
<!--<script src='/static/js/recheck.js' type="text/javascript"></script>-->
<script src='{% static "js/jquery.min.js" %}' type="text/javascript"></script>
<script src='{% static "js/bootstrap.min.js" %}' type="text/javascript"></script>
<script src='{% static "js/number_keyboard.js" %}' type="text/javascript"></script>
<script src='{% static "js/messenger.js" %}' type="text/javascript"></script>
    <script src='{% static "js/messenger-theme-flat.js" %}' type="text/javascript"></script>
{% endblock %}
{% block other %}
<style>
    a.measure_hint {
  text-decoration: none;
}

a.measure_hint:hover {
  color: red;
  position: relative;
}

a.measure_hint[data-title]:hover:before {
  content: attr(data-title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 9999999999;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
</style>
<div class="row clearfix" id="toparea">
    <div class="row clearfix" style="margin-bottom: -50px">
        <div class="column col-md-12">
            <form class="form-inline form-horizontal" role="form">
                <div class="" style="padding-left:30px; display:inline">
                    <label for="department">组别</label>
                    <select class="" id="department" onchange="return onchangeslelction()"
                            style="width: 150px">
                        {% for department in department_list %}
                        <option>{{ department }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="" style="padding-left:30px; display:inline">
                    <input type="checkbox" id="is_clear" onchange="onchangeslelction()"/>清款
                </div>
                
                <div class="" style="padding-left:30px; display:inline">
                    <label for="batch">批号</label>
                    <select class="" id="batch" style="width: 150px" onchange="changeBatchSelection()">
                        {% for batch in batch_list %}
                        <option>{{ batch }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="" style="padding-left:30px; display:inline">
                    <label for="inspector">检验员</label>
                    <select class="" id="inspector" style="width: 130px">
                    </select>
                </div>
                <div class="" style="padding-left:30px; display:inline">
                    <input id="total_num" class="" placeholder="批量" onfocus="return inputfocus(this)"
                           style="width: 50px"/>
                    <!--<input id="check_num" class="form-control" placeholder="样本量"/>-->
                </div>

                <div class="" style="padding-left:30px; display:inline">
                    <input id="check_num" class="" placeholder="样本量" onfocus="return inputfocus(this)"
                           style="width: 50px"/>
                    <!--<button id = "confirm" class = "btn-default btn pull-right">确定</button>-->
                </div>

                <!--<input id="total_num" class="form-control" placeholder="批量"/>-->
                <!--<input id="check_num" class="form-control " placeholder="样本量"/>-->
                <button id="confirm" class="btn-default btn pull-right btn-sm" onclick="return onclickconfirm()" type="button"
                        style="margin-right: 10px">
                    确定
                </button>
                <br/>
                <div class="" style="padding-left:30px; display:inline">
                    <label for="serial_month">批号过滤月份</label>
                    <select id="serial_month" onchange="onchangeslelction()">
                        <option value="3">3</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div class="" style="padding-left:30px; display:inline">
                    <input type="checkbox" id="is_recheck"/>复检
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row clearfix" style="top:-10px" id="mainarea">
    <hr style='margin-top:60px'/>
<!--<div class="col-md-3 column">-->
<button type="button" class="btn btn-default btn-lg btn-block" onclick="return OnClickIndex()"
        id="program_index"
        value='1' style="height:50px; display: none"> 工序
</button>
<button type="button" class="btn btn-default btn-lg btn-block" onclick="return OnClickIndex()"
        id="mistake_index"
        value='0' style="height:50px; display: none"> 疵点
</button>

<div class="col-md-8 column" style="border-right:solid #999 1px ">
    <ul class="nav nav-tabs " id="explorer_index">
        <li><a href="#blank" data-toggle="tab" style="display: none" class="menu"> </a></li>
        <li class="active"><a href="#program_1" data-toggle="tab" class="menu"
               data-placement="top" title
               data-original-title="<label style = 'font-size:20px'>工序</label>">工序</a></li>
        <li><a href="#mistake_3" data-toggle="tab" style="visibility: hidden">dd</a></li>
        <li><a href="#mistake_1" data-toggle="tab" class="menu"
               data-placement="top" title
               data-original-title="<label style = 'font-size:20px'>轻微不良</label>">轻微不良</a></li>
        <li><a href="#mistake_2" data-toggle="tab" class="menu"
               data-placement="top" title
               data-original-title="<label style = 'font-size:20px'>严重不良</label>">严重不良</a></li>
        <li><a href="#mistake_3" data-toggle="tab" class="menu"
               data-placement="top" title
               data-original-title="<label style = 'font-size:20px'>致命不良</label>">致命不良</a></li>
        <li><a href="#mistake_3" data-toggle="tab" style="visibility: hidden">dd</a></li>
        <li><a href="#mistake_4" data-toggle="tab" class="menu"
               data-placement="top" title
               data-original-title="<label style = 'font-size:20px'>搜索结果</label>" id="searcher_page">搜索结果</a></li>
        <li><a href="#measure_size" data-toggle="tab" class="menu"
               data-placement="top" title
               data-original-title="<label style = 'font-size:20px'>尺寸测量</label>" id="measure_trigger">尺寸测量</a></li>
        <li><a href="#baldric" data-toggle="tab" class="menu"
               data-placement="top" title
               data-original-title="<label style = 'font-size:20px'>捋肩带</label>">捋肩带</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content" id="explorer_content">
        <div class="tab-pane " id="blank"></div>
        <div class="tab-pane well active" id="mistake_0"
             style="max-height: 384px; overflow: auto ;margin-top: 10px"></div>
        <div class="tab-pane well" id="mistake_1"
             style="min-height: 445px;max-height: 450px; overflow: auto; margin-top: 10px"></div>
        <div class="tab-pane well" id="mistake_2"
             style="min-height: 445px;max-height: 450px; overflow: auto; margin-top: 10px"></div>
        <div class="tab-pane well" id="mistake_3"
             style="min-height: 445px;max-height: 450px; overflow: auto; margin-top: 10px"></div>
        <div class="tab-pane well" id="mistake_4"
             style="min-height: 445px;max-height: 450px; overflow: auto; margin-top: 10px"></div>

        <div class="tab-pane well" id="program_1"
             style="min-height: 445px;max-height: 450px; overflow: auto; margin-top: 10px"></div>
        <div class="tab-pane well" id="measure_size"
             style="min-height: 445px;max-height: 450px; overflow: auto; margin-top: 10px">
         </div>
        <div class="tab-pane" id="baldric"
             style="min-height: 445px;max-height: 450px; overflow-y: auto; overflow-x: hidden;margin-top: 10px">
            <div class="row clearfix">
                <div class="col-md-12">
                    条数总计：<input type="text" onclick="number = this;" id="bald_count" value="{{ totalnumber }}">
                    <button class="btn btn-success pull-right" onclick="return bald_submit()">提交</button>
                    <hr/>
                    <table class="table table-bordered" id="bald_table">
                        <thead>
                        <tr>
                            <th>责任人</th>
                            <th>疵点</th>
                            <th>数量</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for temp in bald_list %}
                                <tr employee_no="{{temp.employeeno}}"
                                    employee_name = "{{temp.employee}}"
                                    mistake_no = "{{temp.questionno}}"
                                    mistake_name = "{{temp.questionno}}.{{temp.questionname}}"
                                    count = "{{temp.returnno}}">
                                    <td>{{temp.employee}}</td>
                                    <td>{{temp.questionno}}.{{temp.questionname}}</td>
                                    <td>{{temp.returnno}}
                                    <a class="pull-right" href="#" onclick="this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode)">
                                        删除此行</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <select id="bald_add_employee" class="form-control" style="width:150px;" onchange="this.parentNode.parentNode.getElementsByTagName('input')[0].focus();">
                                    {% for temp in employee_list %}
                                    <option value="{{temp.employeeno}}">{{temp.employee}}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th>
                                <select id="bald_add_mistake" class="form-control" style="width:150px" onchange="this.parentNode.parentNode.getElementsByTagName('input')[0].focus();">
                                    {% for temp in question_list %}
                                    <option value="{{temp.questionno}}">
                                        {{temp.questionno}}.{{temp.questionname}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th>
                                <input class="form-control" onfocus="number = this;" style="width:150px;display: inline" id="bald_add_count">
                                <button class="btn btn-success" onclick="return bald_add()">添加</button>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 column" style="text-align: center;margin-top: 10px; ">
    <div class="row clearfix">

        <div class="col-md-12" style="">
            <div class="btn-group btn-group-justified">
                <a class="btn  btn-default"
                   onclick="return OnClickNum(this)" style="width:50px">0
                </a>
                <a class="btn  btn-default"
                   onclick="return OnClickNum(this)" style="width:50px">1
                </a>
                <a class="btn  btn-default"
                   onclick="return OnClickNum(this)" style="width:50px">2
                </a>
                <a class="btn  btn-default"
                   onclick="return OnClickNum(this)" style="width:50px">3
                </a>
                <a class="btn  btn-default"
                   onclick="return OnClickNum(this)" style="width:50px">4
                </a>
                <a class="btn  btn-default"
                   onclick="return OnClickNum(this)" style="width:50px">5
                </a>
            </div>
            <div class="btn-group btn-group-justified">
                <a class="btn  btn-default"
                   onclick="return OnClickNum(this)" style="width:50px">6
                </a>
                <a class="btn  btn-default"
                   onclick="return OnClickNum(this)" style="width:50px">7
                </a>
                <a class="btn  btn-default"
                   onclick="return OnClickNum(this)" style="width:50px">8
                </a>
                <a class="btn  btn-default"
                   onclick="return OnClickNum(this)" style="width:50px">9
                </a>
                <a class="btn  btn-default "
                   onclick="return onclicknumclear()" id="numclears" style="width:50px">清空
                </a>
                <a class="btn  btn-default "
                   onclick="return OnClickSearchDel()" id="numdelete" style="width:50px">删除
                </a>
            </div>
        </div>
    </div>
    <div class="row clearfix" style="margin-top: 10px">
        <div class="col-md-12" style="display: inline;margin-bottom: 10px ;font-size: 15px;align-content: center;">
            <label style="float: left;margin-left: 30px;font-size: 20px">疵点快速搜索: </label>
            <input class="form-control center-block"
                   style="display: inline;width:145px"
                   id="search_label" onfocus="return inputfocus(this)">
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12" style="margin-top: 10px">
            <table class="table-bordered table " style="width:100%;font-size: 15px">
                <tr>
                    <td>工序</td>
                    <td>疵点</td>
                    <td>数量</td>
                </tr>
                <tr>
                    <td style="overflow: hidden;width:96px" id="hint_program"></td>
                    <td style="overflow: hidden;width:98px" id="hint_mistake"></td>
                    <td style="width:150px;">
                        <button class="btn btn-default" style="height:30px;display: inline"
                                onclick="return OnClickMinus()">-
                        </button>
                        <input class="form-control" type="text"
                               style="height:30px;width:45px ;text-align: center;display: inline"
                               value='1'
                               id="number" onfocus="number = this"/>
                        <button class="btn btn-default" style="height:30px;display: inline; margin-right: 0px;"
                                onclick="return OnClickPlus()">+
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row clearfix" style="margin-top: 5px" style="width:98%">
        <div class="col-md-4">
            <button class="btn btn-default  btn-block" type="button"
                    onclick="return OnClickDeleteRecord()" data-toggle="tooltip"
                    data-placement="top" title id="del_button"
                    data-original-title="<label style = 'font-size:20px'>删除已选择的记录<label>"><span
                    class="glyphicon glyphicon-minus"></span>
                删除
            </button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-default  btn-block" type="button" style=""
                    onclick="return OnClickChange()" data-toggle="tooltip"
                    data-placement="top" title id="change_button"
                    data-original-title="<label style = 'font-size:20px'>保存对此条记录的修改</label>"><span
                    class="glyphicon glyphicon-pencil"></span>
                修改
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-default  btn-block" type="button" style=""
                    onclick="return OnClickInert()" data-toggle="tooltip"
                    data-placement="top" title id="add_button"
                    data-original-title="<label style = 'font-size:20px'>添加这条记录</label>"><span
                    class="glyphicon glyphicon-plus"></span>
                添加
            </button>
        </div>
    </div>


    <hr/>
    <div class="row clearfix" style="margin-top: 10px;max-height: 100px;padding-right:15px">
        <div class="col-md-12" style="max-height: 100px;overflow: auto;padding-right: 0px">
            <table style="font-size: 15px; top:10px;width:100%;" class="table-bordered"
                   id="status">
                <thead>
                <tr>
                    <td>
                        序号
                    </td>
                    <td>
                        工序
                    </td>

                    <td>
                        疵点
                    </td>
                    <td>
                        数量
                    </td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row clearfix" style="margin-top: 5px">
        <div class="col-md-4">
            <button class="btn btn-default" type="button" style="width:100%; margin-top:10px"
                    onclick="return OnClickClear()"
                    data-toggle="tooltip"
                    data-placement="top" data-original-title="<label style = 'font-size:20px'>清空记录</label>"><span
                    class="glyphicon glyphicon-remove"></span>
                清空
            </button>

        </div>
        <div class="col-md-4">

            <input type="radio" name="conclusion" id="pass" value="True" onclick="conclusion = this.value"> 通过<br/>
            <input type="radio" name="conclusion" id="nopass" value="False" onclick="conclusion = this.value"> 不通过
        </div>
        <div class="col-md-4">
            <button class="btn btn-default" type="button" style="width:100%; margin-top:10px"
                    onclick="return OnCommit()"
                    data-toggle="tooltip"
                    data-placement="top" title data-original-title="<label style = 'font-size:20px'>提交记录</label>">
                <span class="glyphicon glyphicon-ok"></span>
                完成
            </button>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>
{% endblock %}