<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>一检记录只读表</title>
    <meta content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
    <!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
    <!--script src="js/less-1.3.3.min.js"></script-->
    <!--append ‘#!watch’ to the browser URL, then refresh the page. -->
{% load staticfiles %}
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "css/style.css" %}' rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->


    <script type="text/javascript" src='{% static "js/jquery.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/scripts.js" %}'></script>
    {% ifequal is_choose 1 %}
    <script type = "text/javascript" src ='{% static "js/function_read_only.js" %}'></script>
    {% else %}
    <script type = "text/javascript" src ='{% static "js/function_read_only_check.js" %}'></script>
    {% endifequal %}
</head>

<body>
<div class="container" style = "">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <center><h1 class="h1">成品一检疵点记录表</h1></center>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-3 column" id = "group">
            组别：
        </div>
        <div class="col-md-3 column" id = "count">
            检验数量：
        </div>
        <div class="col-md-3 column" id = "date">
            日期：
        </div>
        <div class="col-md-3 column" id = "no">
            批号：
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-hover table-bordered">

                <tr id = "header">
                    <td rowspan="2" colspan="1" class=""> ​
                        责任人姓名
                    </td>
                    <td rowspan="2" colspan="1" class=""> ​
                        责任人工号
                    </td>
                    <td rowspan="2" colspan="1" class=""> ​
                        工序名称
                    </td>
                    <td rowspan="2" colspan="1" class=""> ​
                        返工数量
                    </td>
                </tr>
                <tr id = "catalog">

                </tr>
                <tbody id="content">

                </tbody>
            </table>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-3 column" id="percent">
            返修率：
        </div>
        <div class="col-md-3 column" id ="inspector">
            检验员：
        </div>
        <div class="col-md-3 column" id="type">
            检验工序：
        </div>
        <div class="col-md-3 column">
            <button class="btn btn-default pull-right" onclick = "return window.close()">返回</button>
        </div>
    </div>
    <hr>
    <div class="row clearfix">
        <div class="col-md-12" id="barcode">
            
        </div>
    </div>
</div>
</body>
</html>
